.simulate_title {
    font-size: 18px;
    font-weight: 700;
}
.simulate_tab_option {
    min-width: 200px;
    text-align: center;
    color: #777;
    border-bottom: 2px solid #777;
    margin: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.simulate_tab_active {
    color: rgb(56, 206, 206);
    border-bottom: 2px solid rgb(56, 206, 206);
}
.chart-switch {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1000000;
}